.father {
  height: 100vh;
  display: flex;
  gap: 10px;
  justify-content: center;
  /* flex-flow: row wrap; */
  flex-direction: row;
  flex-wrap: wrap;
}

.box {
  width: 200px;
  height: 200px;
  background-color: tomato;
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
